$primary-color:#2d3c49;
$secondary-color:#7d97ad;
$link-color:#337ab7;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body, h1, h4 {
	padding: 0;
	margin: 0;
}
.container {
	padding: 15px;   
	font-family: 'Lato', sans-serif;
    color: $primary-color;
}
section {
	padding: 5px 0;
}
.row {
	width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.text-uppercase {
    text-transform: uppercase;
}
img {
	width: 100%;
}
/* header */
.header-logo {
	width: 33%;
	min-width: 100px;
}
.header-logo img{
	width: 100px;
	height: 100px;
	padding-top: 5px;
}
.header-title {
	width: 66%;
	min-width: 200px;
}
.header-name {
	font-size: 35px;
    font-weight: 300;
    padding: 10px 0;
}
.header-sub-name {
	font-size: 20px;
    font-weight: 300;
}
hr {
	color: $secondary-color;
	border: solid 1px;
}
.work-title {
	font-size: 25px;
    color: $secondary-color;
}
.work-item {
	text-align: center;
	padding: 15px 0;
}
.work-item-title {
	font-size: 25px;
}
.work-item-link {
	cursor: pointer;;
}
.work-item-link a {
	text-decoration: none;
    color: $link-color;
    word-wrap: break-word;
}
.work-item-link a:active {
    color: $link-color;
}
@media (min-width: 328px) {
  	.header-title {
    	margin-left: auto;
    	text-align: right;
	}
}
@media (min-width: 328px ) and (max-width: 768px){
  	.work-item {
  		width: 100%;
  	}
}
@media (min-width: 768px ){
  	.work-item {
  		width: 30%;
  	}
  	.container {
  		max-width: 1200px;
  		margin: 0 auto;
  	}
  	.header-logo img{
		width: 140px;
		height: 140px;
	}
	.header-name {
		font-size: 50px;
		padding: 15px 0;
	}
	.header-sub-name {
		font-size: 35px;
	}
}